a,li{
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.header{
    height: 96px;
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 48px;
}

.wrapper{
    background: #ebeaf8;
}


.nav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 48px;
}

.header-btns-list{
    margin-left: auto;
}

.header-btns--desable{
    cursor: pointer;
    background: none;
    border-radius: 8px;
    font-weight: "Plus Jakarta Sans Bold";
    font-weight: bold;
    padding: 12px 24px;
    border: 1px solid #e0def7;
    margin-right: 16px;
}

.header-btns--active{
    border-radius: 8px;
    
    font-weight: bold;
    padding: 12px 24px;
    color: white;
    border: none;
    background: #7065f0;
    cursor: pointer;
}